<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<!-- Display value of 'borough' which is sent as context from BoroughView -->
<h1>New York City Guide</h1>
<h2>{{ borough | title }}</h2>
<h2>{{ activity | title }}</h2>
<!-- Display the value of 'venue' which is sent as context from VenueView -->
<h2>{{ venue|title }}</h2>
<!-- Display the value of 'description' value being sent as context from VenueView -->
<p>{{ description }}</p>
<!-- Create Return home button, sending user back to to main url -->
<a href = "/">Return to Home</a>

</body>
</html>
